<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.familyplan.ihealth">

    <application
        android:name=".IApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme_FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="ihealth" />
            </intent-filter>
        </activity>
        <activity android:name=".webapp.ZMWebActivity"></activity>
        <activity android:name=".activity.RecipeDetailsActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.RegisterActivity"></activity>
        <activity android:name=".activity.FindPassActivity"></activity>
        <activity android:name=".activity.UserInfoActivity"></activity>
        <activity android:name=".activity.EditUserInfoActivity"></activity>
        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.PublishDescriptEditActivity"></activity>
        <activity android:name=".activity.ArticleDetailsActivity"></activity>
        <activity android:name=".activity.WebViewActivity"></activity>
        <activity
            android:name=".activity.PublishRecipeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".activity.PublishMaterialActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity
            android:name=".activity.PublishDescriptActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
    </application>

    <!--Comm-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>